
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  align-items: center;
}

.navbar-brand{
  font-weight: bold;
}

.container h2{
  margin-top: 1rem;
}

.navbar-nav {
  margin: 0 auto; 
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  color: #666;
}